@import 'variables';
@import 'mixins';
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Noto Sans Japanese', 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3',
        'Hiragino Kaku Gothic Pro', sans-serif;
    color: $text-color1;

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 1.6;
    }
}

h1 {
    font-size: 24px;

    @media (max-width: 767px) {
        font-size: 18px;
    }
}

p + p {
    margin-top: 12px;
}

a {
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

input,
button,
textarea,
select {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
}

input[type='text'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='search'],
input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='color'],
textarea,
select {
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    font-family: inherit;
    width: 100%;

    &:focus {
        border-color: #007bff;
    }

    &.error {
        border-color: #ec2222;
    }
}

button,
select {
    cursor: pointer;
}

.table {
    width: 100%;
    border: 1px solid #cfcfcf;
    margin: 12px 0;

    tbody {
        text-align: left;

        tr {
            th,
            td {
                border: 1px solid #cfcfcf;
                padding: 12px 12px;
                vertical-align: middle;
            }

            th {
                background-color: #f8f7f4;
                font-weight: bold;
            }
        }
    }

    .hissu {
        background-color: #c11d1d;
        color: #fff;
        display: inline-block;
        margin-left: 8px;
        padding: 0 4px;
        font-size: 12px;
    }

    small {
        display: block;
        font-weight: normal;
        font-size: 12px;
    }
}
